[submodule "accel-week1-challenge"]
	path = week1/accel_week1_challenge
	url = https://github.com/Mobius3-3/accel-week1-challenge.git
[submodule "week1/escrow-litesvm"]
	path = week1/escrow-litesvm
	url = https://github.com/Mobius3-3/escrow-litesvm.git
[submodule "week1/whitelist-transfer-hook"]
	path = week1/whitelist-transfer-hook
	url = https://github.com/Mobius3-3/whitelist-transfer-hook.git
[submodule "week2/er-vrf"]
	path = week2/er-vrf
	url = https://github.com/Mobius3-3/er-vrf
[submodule "week2/tuktuk-escrow-scheduler"]
	path = week2/tuktuk-escrow-scheduler
	url = https://github.com/Mobius3-3/tuktuk-escrow-scheduler
[submodule "week2/tuktuk-escrow"]
	path = week2/tuktuk-escrow
	url = https://github.com/Mobius3-3/tuktuk-escrow-scheduler.git
[submodule "week2/tuktuk-gpt-oracle"]
	path = week2/tuktuk-gpt-oracle
	url = https://github.com/Mobius3-3/tuktuk-gpt-oracle.git
[submodule "week3/delicious-crab"]
	path = week3/delicious-crab
	url = https://github.com/Mobius3-3/delicious-crab.git
